@media (max-width: 32.5em) {    

    header, footer {
        border-radius: 10px;
    }

    #logo {
        position: absolute;
        width: 200px;
        height: auto;
        float: right;
    }
      
}

