:root {
  --mpink:  #A4778B;    /* MOUNTBATTEN PINK  */  
  --plum:   #830A48;    /*  french plum  */ 
  --white:  #ffffff;    /* white    */
  --hpink:  #FAB2EA;    /* light hot pink */
  --silv:   #A0B2A6;    /* QUICK SILVER     */
  --aqua:   #52FFB8;    /*  medium aqua */


  --font-family: "Dancing Script", "Pacifico", cursive;  
  --font-family-2: "Cairo", "Questrial", sans-serif; 

  --border-radius-main: 8px; 
  --padding-main: 1em 1em 1em 1em; 
  --margin-main: 1em 1em 1em 1em; 
  --border-main: solid 4px #A0B2A6;   /* QUICK SILVER  */ 
}

a:link {    color: var(--link-color-main); }
a:hover  {    color: var(--hover-color-main); } 
a:visited {    color: var(--visited-color-main); } 
a:visited:hover {    color: var(--visited-hover-main);} 


 /* CSS GRID SETUP  */

.wrapper {
  margin: var(--margin-main);
  padding: var(--padding-main);


}
.header {
}
.menu { 
}
.footer {
}

 /* end CSS GRID SETUP  */

body {
  font-family: var(--font-family-2); 
  font-weight: bold;
  font-size: 1em;
  line-height: 1.4em;
  border-radius: var(--border-radius);
  background: var(--mpink);
  color: var(--plum);  
  padding:  var(--padding-main);
}

h1,h2 {
color: var(--white);
font-family: var(--font-family);
}

h3,h4,h5,h6 {
    color: var(--plum);
    font-family: var(--font-family-2);
}

p {
    max-width: 100%;
    color: var(--mpink); 
    padding:  var(--padding-main);
  }

img {  
  max-width: 100%;
  float: right;
  overflow: auto;
  border-radius: var(--border-radius);
}

.content-wide {
    width: 100%;
    margin: 0 auto;
}  

#banner {   
  max-width: 100%;
  max-height: 5%;
  background: var(--plum);
  color: var(--white);
  border-radius: var(--border-radius-main);
  padding: var(--padding-main);
  text-align: center;
  font-family: var(--font-family);
}

#banner a:link {    color: var(--white); }
#banner a:hover  {    color: var(--hpink); } 
#banner a:visited {    color: var(--mpink); } 
#banner a:visited:hover {    color: var(--aqua);} 


  --bg-color-main:  #A4778B;      /* MOUNTBATTEN PINK  */  
  --bg-color-contrast:  #830A48;  /*  french plum  */   
  --txt-color-main:   #830A48;    /*  french plum  */   
  --txt-color-contrast:  #A4778B; /* MOUNTBATTEN PINK */
        
  --link-color-main:  #ffffff;        /* white    */
  --link-color-contrast:  #FAB2EA;    /* light hot pink */
  --hover-color-main: #FAB2EA;        /* light hot pink */
  --hover-color-contrast: #A0B2A6;    /* QUICK SILVER     */
  --visited-color-main: #FAB2EA;      /* light hot pink  */
  --visited-color-contrast: #ffffff;  /* white    */
  --visited-hover-main: #FAB2EA;      /* light hot pink */
  --visited-hover-contrast: #ffffff;  /* white    */ 

  --header-color-main: #ffffff;       /* white   */
  --header-color-contrast: #830A48;   /*  french plum  */

  --border-color-main: #ffffff;       /*  white   */
  --border-color-contrast: #52FFB8;   /*  medium aqua */

#logo {
position: relative;
top: 10px;
margin-left: 1em;  
max-width: 100px;
border-radius: var(--border-radius);
z-index: 1;
}

hr {
border: 1px solid var(--txt-color-main);
}

#footer a:link {    color: var(--link-color-contrast); }
#footer a:hover  {    color: var(--hover-color-contrast); } 
#footer a:visited {    color: var(--visited-color-contrast); } 
#footer a:visited:hover {    color: var(--visited-hover-contrast);} 

#container-footer { 
margin-top: 10px;
display: inline block;
background: var(--bg-color-contrast);
color: var(--header-color-main);
text-align: center;
font-size: .8em;
border-radius: var(--border-radius-main);
padding: var(--padding-main);
}

