:root {
  --ltblue: #CEE7E6;          /*  COLUMBIA BLUE  */
  --whitish: #F5FBEF;        /*  HONEYDEW  */
  --yellorange: #FAA916;    /*  DARK TANGERINE */
  --dkblue: #22007C;       /*  PERSIAN INDIGO */
  --x11grey: #B7B6C2;     /*  X11 GREY */
  --yellorgback: rgba(250, 169, 22, .7);  /*  #FAA916;   DARK TANGERINE */
  --blueback: rgba(34, 0, 124, .5);      /*  #22007C;  PERSIAN INDIGO */
  --pinkback:  rgba(217, 3, 104, .5);   /*  #D90368;  DOGWOOD ROSE */
  --purpback:  rgba(99, 29, 118, .5);  /*  #631D76;  MIDNIGHT  */
  --greyback: rbgba(183, 182, 194, .5); /*  #B7B6C2;  X11 GREY */
--magic-number: 0.09719; /* tan(11Ã‚Â°)/2 */
--content-width: 100vw;
--skew-padding: calc(var(--content-width) * var(--magic-number));
  /*  */
}

body {
  font-family: "Poppins", "Questrial", sans-serif;
  background-color: var(--ltblue);
  color: var(--whitish);
  max-width: 95%;
  margin: 0 auto;
}

a {color:var(--x11grey);}
a:visited {color: var(--whitish);}
a:hover {color: var(--ltblue);}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mitre" sans-serif;
  color: var(--whitish);
}

header, footer {
  background: linear-gradient(-140deg, var(--yellorgback), var(--pinkback), var(--purpback), var(--blueback));
  padding-top: 2em;
  max-width: 100%;
  border-radius: 9px;
}

#banner { 
  position: relative;
  padding: 1em;
  display: flex;
  flex-flow: column;
}

.logo { 
  position: relative;
  top: 20px;
  left: 65%;
  max-width: 100px;
  padding: .5em;
}
.logo img {
  max-width: 200px;
}

footer {
  text-align: center;
}

header, footer, article {
  margin: .7em;
  padding: .7em;
}

td {
  font-size: 1.5em;
}

img {
  border-radius: 9px;
}

main {
  color: var(--whitish);
  border-radius: 9px;
}

main article {
  background: linear-gradient(-140deg, var(--yellorgback), var(--pinkback), var(--purpback), var(--blueback));
  color:var(--dkblue);
  border-radius: 9px;
}

main picture {
  display: block;
  margin: .5rem auto;
  border-radius: 9px;
  padding: 1em;
}

main picture img { 
  border-radius: 9px;
}

.item-head {
  float: right;
  overflow: auto;
  margin: .5em;
  padding:.5em;
  height: auto;
  text-align: center;
  background: var(--x11grey);
  color: var(--dkblue);
  border-radius: 9px;
}

.item-foot {
  margin: .5em;
  padding:.5em;
  color: var(--whitish);
}

#updated {
  color: var(--ltblue);
  font-size: .7em; 
  padding: .5em;
  margin:.5em;	
}