@media only screen and (min-width: 60em) {
    main {
        max-width: 90%;
        justify-content: center;
    }
    #banner, #banner1 {
        color: #F5FBEF;
        display: block;
        font-size: 1.5em;
        justify-content: center;
        text-align: center;
    }
    .stats {
        font-size: 1em;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .gallery figure {
        align-items: center;
        padding: 1.5em .5em 1.5em .5em ;
    }
    .gallery figure:hover {
        box-shadow: 0 0  50px var(--ltblue);
        border-radius: 9px;
    }
    .icon {
        width: 5em;
        height: 5em;
    }
    .grid1col {
        display: grid;
        grid-template-columns: 4fr 4fr;
    }
    .left-column,
    .right-column {
        max-width: 100%;
        padding: 1em;
        align-items: center;     
    }
    .right-column figure img {
        border-radius: 9px;
    }
    .gridforecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        background: var(--x11grey);
        color: var(--dkblue);
        border-radius: 9px;
    }
    .noshow {                
        display: block;
        justify-content: space-between;
        margin: .5rem;
    }
    iframe {
        width: 20em;
        height: 15em;
        border-radius: 9px;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    nav, #banner1 {
        font-weight: bold;
        color: #F5FBEF;
        font-family: "Comfortaa", "Questrial", sans-serif;
        background: #faa916;
        /* Old browsers */
        background: -moz-linear-gradient(top, #faa916 0%, #faa916 0%, #22007c 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #faa916 0%, #faa916 0%, #22007c 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #faa916 0%, #22007c 100%); 
    }
    nav button {
        display: none;
    }
    nav ul {
        margin: 0 auto;
    }
    #primaryNav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
    }
    .towns  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        padding: 1em;
    }
    .towns section div {
        width: 95%;
        margin-bottom: 0;
    }
    .towns section {
        border: 1px solid #F5FBEF;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;                
        text-align: center;          
    }
}
