@charset "UTF-8";
.site-banner {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 4fr 5fr;
  grid-template-rows: 2em;
  grid-template-areas: "logo blank icons";
}
.site-banner.site-banner__left {
  grid-area: logo;
}
.site-banner.site-banner__right {
  grid-area: icons;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "search audience menu";
}
.site-banner.site-banner__right.icon-search {
  grid-area: search;
}
.site-banner.site-banner__right.icon-audience {
  grid-area: audience;
}
.site-banner.site-banner__right.icon-menu {
  grid-area: menu;
}

.site-title {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "blank greybanner";
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  grid-row-gap: 20px;
  grid-template-areas: "covid" "hero" "cards" "getinfo" "resources" "dates" "news" "button" "giveaway" "whitespace" "college" "greyblank" "bluelinks" "greylinks" "footerrow1" "footerrow2";
}

.covid {
  grid-area: covid;
  grid-template-columns: 1fr;
}

.hero {
  grid-area: hero;
}

.dropdown {
  grid-area: getinfo;
}

@font-face {
  font-family: "BYUI Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTcDdSZkkecOE1hvV7ZHvhyU.ttf) format("truetype");
}
@font-face {
  font-family: "BYUI Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/TCmDhmS1RRL7aqhqZW19hwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/uYKcPVoh6c5R0NpdEY5A-Q.woff) format("woff");
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/yYRnAC2KygoXnEC8IdU0gQLUuEpTyoUstqEm5AMlJo4.ttf) format("truetype");
}
@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?z9anye#iefix") format("embedded-opentype"), url("icomoon.ttf?z9anye") format("truetype"), url("icomoon.woff?z9anye") format("woff"), url("icomoon.svg?z9anye#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: white;
  font-size: 4vw;
  align-content: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "";
}

.icon-byui-logo:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-audience:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-address-book:before {
  content: "";
}

.icon-align-center:before {
  content: "";
}

.icon-align-left:before {
  content: "";
}

.icon-align-middle:before {
  content: "";
}

.icon-align-offset:before {
  content: "";
}

.icon-align-right:before {
  content: "";
}

.icon-angle-down:before {
  content: "";
}

.icon-angle-left:before {
  content: "";
}

.icon-angle-right:before {
  content: "";
}

.icon-angle-up:before {
  content: "";
}

.icon-aperture:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-at:before {
  content: "";
}

.icon-award:before {
  content: "";
}

.icon-backspace:before {
  content: "";
}

.icon-bar-graph:before {
  content: "";
}

.icon-basket:before {
  content: "";
}

.icon-battery-empty:before {
  content: "";
}

.icon-battery-full:before {
  content: "";
}

.icon-beaker:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-bluetooth:before {
  content: "";
}

.icon-bold:before {
  content: "";
}

.icon-bolt-arrow:before {
  content: "";
}

.icon-bolt:before {
  content: "";
}

.icon-book-open:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-books:before {
  content: "";
}

.icon-box:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-browser:before {
  content: "";
}

.icon-bug:before {
  content: "";
}

.icon-bullet-list:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-cc:before {
  content: "";
}

.icon-chart:before {
  content: "";
}

.icon-chat:before {
  content: "";
}

.icon-checked:before {
  content: "";
}

.icon-circle-angle-down:before {
  content: "";
}

.icon-circle-angle-left:before {
  content: "";
}

.icon-circle-angle-right:before {
  content: "";
}

.icon-circle-angle-up:before {
  content: "";
}

.icon-circle-arrow-down:before {
  content: "";
}

.icon-circle-arrow-left:before {
  content: "";
}

.icon-circle-arrow-right:before {
  content: "";
}

.icon-circle-arrow-up:before {
  content: "";
}

.icon-circle-triangle-down:before {
  content: "";
}

.icon-circle-triangle-left:before {
  content: "";
}

.icon-circle-triangle-right:before {
  content: "";
}

.icon-circle-triangle-up:before {
  content: "";
}

.icon-circulate:before {
  content: "";
}

.icon-clipboard:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-cloud:before {
  content: "";
}

.icon-cloudy:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-command:before {
  content: "";
}

.icon-compass:before {
  content: "";
}

.icon-contrast:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

.icon-crop:before {
  content: "";
}

.icon-cursor:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-denied:before {
  content: "";
}

.icon-desktop:before {
  content: "";
}

.icon-document:before {
  content: "";
}

.icon-dollar:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-droplet:before {
  content: "";
}

.icon-earth:before {
  content: "";
}

.icon-eject:before {
  content: "";
}

.icon-elevator:before {
  content: "";
}

.icon-ellipsis:before {
  content: "";
}

.icon-enlarge:before {
  content: "";
}

.icon-euro:before {
  content: "";
}

.icon-expand-down:before {
  content: "";
}

.icon-expand-left:before {
  content: "";
}

.icon-expand-right:before {
  content: "";
}

.icon-expand-up:before {
  content: "";
}

.icon-export:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-eyedropper:before {
  content: "";
}

.icon-facebook-circle:before {
  content: "";
}

.icon-facebook-square:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-feed:before {
  content: "";
}

.icon-file-excel:before {
  content: "";
}

.icon-file-missing:before {
  content: "";
}

.icon-file-pdf:before {
  content: "";
}

.icon-file-word:before {
  content: "";
}

.icon-filepath:before {
  content: "";
}

.icon-files:before {
  content: "";
}

.icon-fire:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-flashlight:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-food:before {
  content: "";
}

.icon-fork:before {
  content: "";
}

.icon-forward:before {
  content: "";
}

.icon-google-plus-circle:before {
  content: "";
}

.icon-google-plus-square:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-graduation:before {
  content: "";
}

.icon-grid2:before {
  content: "";
}

.icon-grid3:before {
  content: "";
}

.icon-grid4:before {
  content: "";
}

.icon-group:before {
  content: "";
}

.icon-hand:before {
  content: "";
}

.icon-hashtag:before {
  content: "";
}

.icon-hd:before {
  content: "";
}

.icon-headphones:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-hospital:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-infinite:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-instagram-circle:before {
  content: "";
}

.icon-instagram-square:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-italic:before {
  content: "";
}

.icon-key:before {
  content: "";
}

.icon-keyboard:before {
  content: "";
}

.icon-layers:before {
  content: "";
}

.icon-layout:before {
  content: "";
}

.icon-left-quote:before {
  content: "";
}

.icon-library:before {
  content: "";
}

.icon-lightbulb:before {
  content: "";
}

.icon-link-broken:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-linkedin-circle:before {
  content: "";
}

.icon-linkedin-square:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-magnifying-glass:before {
  content: "";
}

.icon-mail-open:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-map-pin:before {
  content: "";
}

.icon-map:before {
  content: "";
}

.icon-megaphone:before {
  content: "";
}

.icon-microphone:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-moon:before {
  content: "";
}

.icon-move-down:before {
  content: "";
}

.icon-move-up:before {
  content: "";
}

.icon-move:before {
  content: "";
}

.icon-movie:before {
  content: "";
}

.icon-music-note:before {
  content: "";
}

.icon-network:before {
  content: "";
}

.icon-new-tab:before {
  content: "";
}

.icon-new-window:before {
  content: "";
}

.icon-office:before {
  content: "";
}

.icon-paintbrush:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-picture:before {
  content: "";
}

.icon-pictures:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-pinterest-circle:before {
  content: "";
}

.icon-pinterest-square:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-popup:before {
  content: "";
}

.icon-pound:before {
  content: "";
}

.icon-power:before {
  content: "";
}

.icon-pushpin:before {
  content: "";
}

.icon-puzzle:before {
  content: "";
}

.icon-question-mark:before {
  content: "";
}

.icon-radio-checked:before {
  content: "";
}

.icon-radio-unchecked:before {
  content: "";
}

.icon-rain:before {
  content: "";
}

.icon-read-more:before {
  content: "";
}

.icon-redo:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-rewind:before {
  content: "";
}

.icon-right-quote:before {
  content: "";
}

.icon-sharepoint-circle:before {
  content: "";
}

.icon-sharepoint-square:before {
  content: "";
}

.icon-sharepoint:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-shrink:before {
  content: "";
}

.icon-shuffle:before {
  content: "";
}

.icon-smartphone:before {
  content: "";
}

.icon-sound-off:before {
  content: "";
}

.icon-sound-on:before {
  content: "";
}

.icon-spinner:before {
  content: "";
}

.icon-square-angle-down:before {
  content: "";
}

.icon-square-angle-left:before {
  content: "";
}

.icon-square-angle-right:before {
  content: "";
}

.icon-square-angle-up:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-suitcase:before {
  content: "";
}

.icon-sun:before {
  content: "";
}

.icon-tablet:before {
  content: "";
}

.icon-tag-fill:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-tags:before {
  content: "";
}

.icon-talk:before {
  content: "";
}

.icon-target:before {
  content: "";
}

.icon-terminal:before {
  content: "";
}

.icon-text:before {
  content: "";
}

.icon-thumbs-down:before {
  content: "";
}

.icon-thumbs-up:before {
  content: "";
}

.icon-timer:before {
  content: "";
}

.icon-trash:before {
  content: "";
}

.icon-triangle-down:before {
  content: "";
}

.icon-triangle-left:before {
  content: "";
}

.icon-triangle-right:before {
  content: "";
}

.icon-triangle-up:before {
  content: "";
}

.icon-trifold:before {
  content: "";
}

.icon-twitter-circle:before {
  content: "";
}

.icon-twitter-square:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-uhd:before {
  content: "";
}

.icon-underline:before {
  content: "";
}

.icon-undo:before {
  content: "";
}

.icon-unlock:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-vga:before {
  content: "";
}

.icon-video:before {
  content: "";
}

.icon-warning:before {
  content: "";
}

.icon-waves:before {
  content: "";
}

.icon-wrench:before {
  content: "";
}

.icon-x:before {
  content: "";
}

.icon-x1:before {
  content: "";
}

.icon-youtube-circle:before {
  content: "";
}

.icon-youtube-square:before {
  content: "";
}

.icon-youtube-text-circle:before {
  content: "";
}

.icon-youtube-text-square:before {
  content: "";
}

.icon-youtube-text:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: #0076b6;
  font-family: "Open Sans Light", Helvetica, sans-serif;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: "BYUI Open Sans", Georgia, sans-serif;
  color: #056cb6;
  max-width: 100%;
}

.site-banner {
  background: #056cb6;
  height: 4em;
}

.site-banner__left, .site-banner__right {
  padding-top: 1em;
  font-weight: bold;
}

.icon-byui-logo {
  background: #020202;
  padding: 0.5em;
  font-size: 2em;
}

.icon-search, .icon-audience, .icon-menu {
  font-size: 2em;
}

.white-text {
  color: #eaeaea;
}

.site-title {
  border-bottom: 1px solid #727272;
}

.site-title-font {
  max-width: 100%;
  font-family: "BYUI Open Sans", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  font-size: 0.75em;
  color: #727272;
  font-weight: 100;
}

.container {
  max-width: 100%;
  padding: 0.25em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  grid-row-gap: 20px;
  grid-template-areas: "covid" "hero" "cards" "getinfo" "resources" "dates" "news" "button" "giveaway" "whitespace" "college" "greyblank" "bluelinks" "greylinks" "footerrow1" "footerrow2";
}

.covid {
  grid-area: covid;
  grid-template-columns: 1fr;
  background: #020202;
  color: #eaeaea;
  text-align: center;
}

.buttons {
  background: #056cb6;
  color: #eaeaea;
  width: 150px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  padding: 0.25em;
  text-align: center;
}

.hero {
  grid-area: hero;
}

.img-resp {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.dropdown {
  grid-area: getinfo;
  height: 25px;
  background: #eaeaea;
  color: #020202;
  padding: 0.25em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.cards {
  grid-area: cards;
}

.resources {
  grid-area: resources;
}
.resources h3 {
  background: #727272;
  color: #eaeaea;
}

.important-dates {
  grid-area: dates;
}

.news-items {
  grid-area: news;
  border-top: 1px solid #727272;
}

.news-button {
  grid-area: button;
  background: #056cb6;
  color: #eaeaea;
}

.news-img {
  width: 75px;
  height: 50px;
}

.news-title {
  font-family: "Open Sans Light", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.5em;
}

.news-p {
  color: #020202;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

.blue-footer {
  grid-area: bluelinks;
}

.grey-footer {
  grid-area: greylinks;
}

.footer1 {
  grid-area: footerrow1;
}

.footer2 {
  grid-area: footerrow2;
}

@media only screen and (min-width: 30em) {
  .container {
    grid-template-columns: minmax(300px, 2fr) minmax(200px, 1fr);
    grid-template-areas: "left right";
    grid-row-gap: 10px;
    grid-column-gap: 20px;
  }

  .left-col {
    grid-area: left;
    grid-template-columns: 1fr;
    grid-template-areas: "covid" "hero" "cards" "news";
  }

  .right-col {
    grid-area: right;
    grid-template-columns: 1fr;
    grid-template-areas: "getinfo" "resources" "dates";
  }
}

/*# sourceMappingURL=styles.css.map */
