@media only screen and (min-width: 60em) {
  .grid {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: space-between;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		border: 1px solid var(--dkblue);
		border-radius: 9px;
		}		
	#checkbox1
	.toggle {
	display: none;
	}
}
