:root {
  --ltblue: #CEE7E6;   /*  COLUMBIA BLUE  */
  --whitish: #F5FBEF;    /*  HONEYDEW  */
  --yellorange: #FAA916; /*  DARK TANGERINE */ 
  --dkblue:  #22007C;  /* PERSIAN INDIGO */
  --x11grey : #B7B6C2; /*  X11 GREY */ 

  -- :  ;   /*  */ 

}

body {
    font-family: "Poppins", "Questrial", sans-serif;
    background-color: var(--ltblue);
    color: var(--whitish);
    max-width: 95%;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mitre" sans-serif;
  color: var(--whitish);
}
img{  
  max-width: 50%;
  float: right;
  border-radius: 9px;
  margin: auto;
}
header, main, footer, article {
  margin: .7em;
  padding: .7em;
  width: 100%;
}
main {
  color: var(--whitish);
  border-radius: 9px;
}
main.article1 {
  width:100%;
}
main picture {
  display: block;
}
main picture img {
  border-radius: 9px;
  display: float;
}
header, footer {
  background: linear-gradient(to left, var(--yellorange), var(--dkblue));
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
.item-foot {
  margin: .5em;
  padding:.5em;
  color: var(--whitish);
}
.item-head {
  margin: .5em;
  padding:.5em;
  height: auto;
  text-align: center;
  color: var(--whitish);
  border-radius: 9px;
}
a {	color:var(--x11grey); }
a:visited {color: var(--whitish);}
a:hover {color: var(--dkblue);}
h1 {
  font-size: 2rem;
  font-family: "Poppins", "Mitre", sans-serif;
}
main article {
  background: linear-gradient(to left, var(--yellorange), var(--dkblue));
  color:var(--yellorange);
  border-radius: 9px;
  margin: .5em;
  padding:.5em;
  width: 100%;
}
main picture img {
    width: 100%;
    border: 1px solid var(--x11grey);
}
main picture {
  display: block;
  margin: .5rem auto;
  border-radius: 9px;
  background: var(--x11grey);
  padding: 1em;
}
#updated {
  color: yellow;
font-size: .7em;  
}







* {
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, var(--yellorange), var(--dkblue));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--whitish);
  height: 50px;
  padding: 1em;
  border-radius: 9px;
  margin: .7em;
  max-width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: .5em;
  padding: .5em;
}

.menu > li {
  margin: 1em;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


/*

* {
  box-sizing: border-box;
}

.nav {
  height: 75px;
  background-color: var(--dkblue);
  position: relative;
  margin: .7em;
  padding: .7em;
  width: 100%;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: var(--yellorange);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: var(--whitish);
}

.nav > .nav-links > a:hover {
  background-color: var(--ltblue);
  color: var(--dkblue)
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

*/

