/* Needed css */
html,
body {
  height: 100%;
  /* This is needed :( */
}
.cover-image {
  background-image: url(http://payload175.cargocollective.com/1/8/282864/5815628/DSC_0631_1_o.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  /* The magic of fixed parallax header*/
}
/* Just some fun */
.cover-image {
  background-repeat: no-repeat;
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
  /* centering some text */
}
.cover-image iframe {
  width: 100%;
  height: 100%;
}
.cover-image h1 {
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 300px;
  text-align: center;
  margin: auto;
  font-size: 3em;
}
header {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
}
header nav {
  position: absolute;
  z-index: 2;
  bottom: -5px;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}
header nav a {
  color: black;
  font-size: 1.5em;
  display: inline-block;
  margin: 10px 30px;
}
.content {
  background: white;
  padding: 20px 0;
  width: 100%;
}
.wrap {
  width: 960px;
  margin: 0 auto ;
}

* SLIDESHOW */

#slideshow
{
    margin:  100 auto;
    width: 75%;
    padding: 5px;
    border: 1px solid #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px;
}

#slideshow-container
{
    position: relative;
    overflow: hidden;
}

#slider
{
    position: relative;
    width: 500%;
    animation: 32s slider infinite;
    -webkit-animation: 32s slider infinite;
    -moz-animation: 32s slider infinite;
    -o-animation: 32s slider infinite;
}

#slider figure
{
    position: relative;
    margin: 0;
}

#slider img
{
    width: 20%;
    float: left;
}

#slideshow figcaption
{
    position:absolute;
    padding: 20px 20px; margin:0;
    left:0; right:0; bottom: 5px;
    text-align:center;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-family: Georgia, Times, serif;
    background: #000;
    background: rgba(255,255,255,0.7);
    border-top: 1px solid rgb(225,225,225);
    color: #555;
    text-shadow: -1px -1px 0 rgba(255,255,255,0.3);

    -webkit-animation: figcaptionner 32s infinite;
    -moz-animation: figcaptionner 32s infinite;
    animation: figcaptionner 32s infinite;
}

/* Slider animation */

@keyframes slider
{
    0%
    {
        left: 0;
    }

    20%
    {
        left: 0;
    }

    25%
    {
        left: -100%;
    }

    45%
    {
        left: -100%;
    }

    50%
    {
        left: -200%;
    }

    70%
    {
        left: -200%;
    }

    75%
    {
        left: -300%;
    }

    95%
    {
        left: -300%;
    }

    100%
    {
        left: 0%;
    }
}

@-webkit-keyframes slider
{
    0%
    {
        left: 0;
    }

    20%
    {
        left: 0;
    }

    25%
    {
        left: -100%;
    }

    45%
    {
        left: -100%;
    }

    50%
    {
        left: -200%;
    }

    70%
    {
        left: -200%;
    }

    75%
    {
        left: -300%;
    }

    95%
    {
        left: -300%;
    }

    100%
    {
        left: 0%;
    }
}

@-moz-keyframes slider
{
    0%
    {
        left: 0;
    }

    20%
    {
        left: 0;
    }

    25%
    {
        left: -100%;
    }

    45%
    {
        left: -100%;
    }

    50%
    {
        left: -200%;
    }

    70%
    {
        left: -200%;
    }

    75%
    {
        left: -300%;
    }

    95%
    {
        left: -300%;
    }

    100%
    {
        left: 0%;
    }
}

@-o-keyframes slider
{
    0%
    {
        left: 0;
    }

    20%
    {
        left: 0;
    }

    25%
    {
        left: -100%;
    }

    45%
    {
        left: -100%;
    }

    50%
    {
        left: -200%;
    }

    70%
    {
        left: -200%;
    }

    75%
    {
        left: -300%;
    }

    95%
    {
        left: -300%;
    }

    100%
    {
        left: 0%;
    }
}

/* TIMELINE */

#timeline
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(214, 98, 13);
    height: 2px;
    animation: timeliner 32s infinite;
    -webkit-animation: timeliner 32s infinite;
    -moz-animation: timeliner 32s infinite;
    -o-animation: timeliner 32s infinite;
}

/* Timeline animation */

@keyframes timeliner
{
    0%, 25%, 50%, 75%, 100%
    {
        width: 0;
    }

    20%, 45%, 70%, 95%
    {
        width: 100%;
    }
}

@-webkit-keyframes timeliner
{
    0%, 25%, 50%, 75%, 100%
    {
        width: 0;
    }

    20%, 45%, 70%, 95%
    {
        width: 100%;
    }
}

@-moz-keyframes timeliner
{
    0%, 25%, 50%, 75%, 100%
    {
        width: 0;
    }

    20%, 45%, 70%, 95%
    {
        width: 100%;
    }
}

@-o-keyframes timeliner
{
    0%, 25%, 50%, 75%, 100%
    {
        width: 0;
    }

    20%, 45%, 70%, 95%
    {
        width: 100%;
    }
}


#slider figure
{
    position: relative;
    margin: 0;
    width: 20%;
    float: left;
}

#slider img
{
   width:100%;
}

img {
  max-width: 100%;
}


main {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.footer {
  
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news {
  background: rgba(0, 95, 113, 0.625);
  color: white;
  padding: 1rem .5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkitg-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-heiht: 15rem;
}
.news article {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
  padding: 1rem;
}
.news article h3 {
  text-align: center;
}
@media (max-width: 48rem) {
  .news {
    background: rgba(0, 95, 113, 0.25);
    color: #363636;
  }
}

.footer {
  padding: 1rem;
  background: rgba(0, 95, 113, 0.5);
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}


