@media only screen and (min-width: 37.5em) {
	main {
		max-width: 95%;
	}
	.stats {
		font-size: .7em;
	}
	.gallery {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  justify-content: center;
	  align-items: center;
	  border-radius: 9px;
	  font-weight: bolder;
	  max-width: 95%;
	}
	figcaption {
	  font-size: 1em;
	  color: #F5FBEF;
	  text-align: center;
	} 
	.right-column figure img {
		border-radius: 9px;
	}

	main picture img {
		border-radius: 9px;
		width: 400px;
	}
	.towns section {
		display: flex;
		flex-direction: row;
		border-radius: 9px;
		justify-content: space-evenly;
		width: 100%;
	}
	.towns section:nth-child(odd) {
		flex-direction: row-reverse;
		align-items: center;
	}
	.towns section div {
		width: 50%;
	}
	.towns p {
		text-align: center;
	}
	.towns section div img {
		width: 400px;
	}

}