body {
    padding: 2%;    
    justify-content: center;
    text-align: center;
}
main {
    background-color: paleturquoise;
    padding: .75rem;
    box-shadow:0 0 25px grey;
    width: 96%;
    align-items: center;
}
.teal {
    color: teal;
    text-align: center;
}
.cards {
    display: grid;
    grid-template-columns: 1fr; 
}
.cards section {
    margin: .25rem;
    text-align: center;
    align-items: center;
    background-color: teal;
    color: white;
    border: 1px solid navy;
    box-shadow: 0 0 10px grey;
}
.cards section h2 {
    padding: .25rem;
}
.cards section h5 {
    margin: 0;
    
}
.cards section p {
    padding: .1rem;
}
.cards section img {
    width: 12rem;
    height: 15rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 20px aqua;
    margin-top: 1rem;
}
@media only screen and (min-width: 37.5em) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
}
@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}