/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    background-color: #B7B6C2;
    color: #F5FBEF;
    font-family: "Poppins", "Questrial", sans-serif;
    border-radius: 9px;
    max-width: 100%;
    text-align: center;

}
.grey {
    background-color: #B7B6C2;
    border-radius: 0px;
    max-width: 100%;
    padding: 0;
    color: #22007C;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.2rem;
}
a:hover {color: #B7B6C2;}
a {color: #F5FBEF;}
a:visited {color: #CEE7E6;}

h1, h2, h3, h4, h5, h6 {
    color: #F5FBEF;
    font-family: "Comfortaa", "Poppins", "Questrial", sans-serif;
    padding: .5rem;
}
h1 {    font-size: 1.8em;}
h2 {    font-size: 1.5em;}
h3 {    font-size: 1.3em;}
h4 {    font-size: 1.1em;}
h5 {    font-size: .9em;}
h6 {    font-size: .7em;}

.stats,
header,
footer,
main,
article,
.item2,
.item,
img,
nav,
nav button,
nav ul li a,
article img,
.simple { 
    border-radius: 9px;
}
#banner {
    display: none;
    background: #22007C;
    border: 9px double #FAA916;
    border-radius: 25px;
    font-size: 1.2em;
    padding: .75em;
    text-align: center;
    margin: 0;
}
#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#banner1 {
    margin: .25em;
    text-align: center;
    border-radius: 9px;
    display: inline-block;
    width: 100%;
}
footer div {
    line-height: 1.25rem;
}
header,
footer,
main {
    background: linear-gradient(to left, rgba(250, 169, 22, .5),  rgba(217, 3, 104, .5), rgba(99, 29, 118, .5),rgba(34, 0, 124, .5));
    text-align: center;
    border-radius: 9px;
    display: inline-block;
}
ul, li {
    text-align: left;
    color: #22007C;
}
.currently {
    position: relative;
    padding: .5em;
}
#hero img {
    width: 100%;
    min-height: 50vh; 
    margin: auto;
}
.lined-up {
    display: flex;
    flex-direction: row;
    padding: .25rem;
}
.stats {
    position: absolute;
    top: 8rem;
    left: 2rem;
    background: radial-gradient(#B7B6C2, rgba(34, 0, 124, .7));
    border: 1px solid #CEE7E6;
    padding: .5rem;
    opacity: .89;
    font-size: .7em;
    font-weight: bolder;
}
.noshow {
    display: none;
    margin-top: 1rem;
}
.grid2col {
    display: grid;
    grid-template-columns: 4fr 4fr;
    margin:0;
}
.grid1col {
    text-align: center;
    padding: 1rem;
    max-width: 100%;
}
.grid-auto-row {
    display: grid;
    grid-template-rows: auto;
}
.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
.left-column,
.right-column {
    max-width: 100%;
    padding: 1rem;    
}
figcaption {
    text-align: center;
}
figure {
    align-items: center;
    justify-items: center;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 9px;
    align-items: center;
}
.gallery a {
    color: #F5FBEF;
}
nav {
    font-weight: bold;
    font-family: "Comfortaa", "Questrial", sans-serif;
    text-align: center;
    background: #faa916;
    background: #faa916; /* Old browsers */
    background: -moz-linear-gradient(top, #faa916 0%, #faa916 0%, #22007c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #faa916 0%,#faa916 0%,#22007c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(250, 169, 22, .7) 0%, rgba(217, 3, 104, .5) 25%, rgba(99, 29, 118, .5), rgba(34, 0, 124, .5)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa916', endColorstr='#22007c',GradientType=0 );
}
.button {
    display: inline;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #F5FBEF;
}
nav ul li a {
    display: block;
    padding: .7em 2%;
    text-decoration: none;
    color: #CEE7E6;
}
nav ul .current {
    background-color: rgba(34, 0, 124, .6);
    color: #F5FBEF;
}
nav ul li a:hover {
    background-color: #F5FBEF;
    color: #22007C;
}
nav ul.hide {
    display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
footer,
#updated {
    text-align: center;
    color: #F5FBEF; 
    width: 100%;
}
#updated {
    font-size: .9em;
}
form fieldset {
    border: 2px solid #F5FBEF;
    margin: 2rem .25rem;
    border-radius: 10px;
    padding: .75rem 2%;
}
form legend {
    color: #22007C;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    padding-left: 4%;
    color: #F5FBEF;
    font-size: 1rem;
    max-width: 92%;
    text-align: left;
}
form label input {
    color: #F5FBEF;
    border:none;
}
form label.top input, 
form label.sbs select,
textarea {
    display: block;
    font-size: 1rem;
    border: 1px solid #F5FBEF;
    border-radius: 4px;
    padding: .75rem;
    color: #22007C;
    width: 92%;
    max-width: 20rem;
    background-color: #CEE7E6;
}
form label.top input:required:valid {
    background-color: #CEE7E6;
    color: #22007C;
}
form label.top input:required:invalid {
    color: #22007C;
    box-shadow: 0 0 20px #F5FBEF;
    background-color: #FAA916;
    color: #22007C;
}
form label.sbs {
    display: block;
    padding-left: 4%;
    padding-top: .75rem;
    color: #F5FBEF;
}
form h4 {
    text-align: left;
    padding-left: 4%;
    padding-top: .4rem;
}
form input.submitBtn {
    border: none;
    margin-top: .75rem;
    background-color: #FAA916;
    color: #22007C;
    border-radius: 1rem;
    padding: .75rem ;
    margin: 0 0 4rem 4%;
    width: 96%;
    max-width: 20rem;
}
form label.severity {
    align-content: center;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}
#ratingvalue {
    font-size: 1.2em;
}
input,
textarea,
select {
    padding: .5rem;
}
label {
    display: block;
}
textarea {
    resize: none;
}
.dangerlevel {
    max-width: 20rem;
    padding: .75rem;
    border-radius: 4px;
    margin-left: 4%;
    margin-top: .75rem;
    border: 1px solid #F5FBEF;
}
.towns section, p, h2, div img {
    text-align: center;
    align-content: center;
    max-width: 100%;    
    padding-bottom: .25rem;
}
.towns h6 {
    font-size: .85rem;
    text-align: center;
}
.wireframe {
    max-width: 60vw;
    display: flex;
    justify-content: center;
    padding-left: 10rem;
}
.marquee {
    height: 35px;
    width: 100%;  
    overflow: hidden;
    position: relative;
    color: #F5FBEF;
  }  
  .marquee div {
    display: block;
    width: 200%;
    height: 35px;
    padding: .5rem;  
    position: absolute;
    overflow: hidden;  
    animation: marquee 12s linear infinite;
}  
  .marquee span {
    float: left;
    width: 100%;
  }  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }