body {
  font-family: "Quicksand", sans-serif;
}
header, main, footer {
  max-width: 95%;
  margin: .5em .5em .5em .5em;
}
main {
  grid-template-columns: 1fr;
  display: grid;
  justify-content: center;
}
main picture {
  display: block;
}
main picture img {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 9px;
}
header, footer {
  background-color:  #A4778B;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: .5em;
  border-radius: 9px;
}
.item-foot {
  margin: .5em;
  padding:.5em;
  color: black;
}
.item-head {
  padding: .5em;
  height: auto;
  text-align: center;
  background: black;
  color: beige;
  border-radius: 9px;
}
a {	color: #FAB2EA; }
a:visited {color: white;}
a:hover {color: hotpink;}
h1 {
  font-size: 2rem;
  font-family: "Pacifico",  sans-serif;
}
main article {
  margin: .5em;
  border: 1px solid #bbb;
  padding: .25em;
  background-color:  #A4778B;
  color: black;
  border-radius: 9px;
  justify-content: center;
}
main picture img {
    width: 100%;
    border: 1px solid #bbb;
}
main picture {
  display: block;
  margin: .5rem auto;
  border-radius: 9px;
  background: black;
  padding: 1em;
}
footer {
  flex: 0 1 100%;
  height: 2rem;
}
#updated {
  color: yellow;
font-size: .7em;
}

