/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

:root {
    --ltblue: #CEE7E6;
    /*  COLUMBIA BLUE  */
    --whitish: #F5FBEF;
    /*  HONEYDEW  */
    --yellorange: #FAA916;
    /*  DARK TANGERINE */
    --dkblue: #22007C;
    /* PERSIAN INDIGO */
    --x11grey: #B7B6C2;
    /*  X11 GREY */
    /*  */
}

body {
    background-color: var(--ltblue);
    color: var(--whitish);
    font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
}

white {
    background-color: white;
    display: grid;
    grid-template-columns: auto;
}

.hero,
.stats,
header,
footer,
main,
article,
.item2,
.item,
img,
nav,
nav button,
nav ul li a,
article img,
section,
.simple {
    border-radius: 9px;
}

article,
div {
    max-width: 100%;
}

#banner {
    display: none;
    background-color: var(--dkblue);
    color: var(--whitish);
    border-radius: 75px;
    border: 9px double var(--yellorange);
    font-size: .75em;
    padding: .75em;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header,
footer,
main,
section,
article,
.simple {
    background: linear-gradient(to left, var(--yellorange), var(--dkblue));
    font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
    padding: 1em;
    color: var(--whitish);
    font-size: 1em;
    max-width: 100%;
    margin: .25em auto;
}

.currently {
    position: relative;
    font-weight: bolder;
    padding: .5em;
}

.hero {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
}

.stats {
    position: absolute;
    top: 6rem;
    left: 2rem;
    background: radial-gradient(var(--x11grey), var(--dkblue));
    border: 1px solid var(--ltblue);
    padding: .5rem .5rem .5rem .5rem;
    opacity: .85;
    font-size: .50em;
}

.grid2col {
    display: grid;
    grid-template-columns: 4fr 4fr;
    justify-items: center;
    grid-template-rows: auto;
}

.grid2col1 {
    display: grid;
    grid-template-columns: 4fr;
}

.grid-auto-row {
    display: grid;
    grid-template-rows: auto;
}

a {
    color: var(--x11grey);
}

a:visited {
    color: var(--whitish);
}

a:hover {
    color: var(--ltblue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--whitish);
    text-align: right;
    font-family: "Comfortaa", "Poppins", "Questrial", sans-serif;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: .9em;
}

h6 {
    font-size: .7em;
}

.noshow {
    display: none;
}

figcaption {
    text-align: center;
}

figure {
    align-items: center;
    justify-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    background-color: transparent;
    border-radius: 9px;
    align-items: center;
}

.gallery a {
    color: var(--whitish);
}

img {
    text-align: center;
    max-width: 100%;
    border-radius: 9px;
}

nav {
    font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
    background: #faa916;
    max-width: 100%;
    /* Old browsers */
    background: -moz-linear-gradient(left, #faa916 0%, #faa916 0%, #22007c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #faa916 0%, #faa916 0%, #22007c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, #faa916 0%, #faa916 0%, #22007c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: ;
    progid: DXImageTransform.Microsoft.gradient(startColorstr='#faa916', endColorstr='#22007c', GradientType=0);
    background: #faa916;
    /* Old browsers */
    background: -moz-linear-gradient(top, #faa916 0%, #faa916 0%, #22007c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #faa916 0%, #faa916 0%, #22007c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #faa916 0%, #faa916 0%, #22007c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#faa916', endColorstr='#22007c', GradientType=0);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: var(--whitish);
}

nav ul li a {
    display: block;
    padding: .7em 2%;
    text-decoration: none;
    color: var(--ltblue);
}

nav ul .current {
    background-color: rgba(34, 0, 124, .6);
    color: var(--whitish);
}

nav ul li a:hover {
    background-color: var(--whitish);
    color: var(--dkblue);
}

nav ul.hide {
    display: none;
}


/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

img {
    align-items: center;
    max-width: 100%;
    border-radius: 9px;
}

footer,
#updated {
    text-align: center;
}

#updated {
    background-color: transparent;
    color: var(--ltblue);
    font-size: .9em;
    margin: .5em;
    padding: 1em;
}

form fieldset {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .75rem 2%;
}

form legend {
    color: var(--dkblue);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    padding-left: 4%;
    color: var(--whitish);
    font-size: 1rem;
    max-width: 92%;
}

form label input#media {
    background-color: transparent;
    color: var(--whitish);
    border: none;
}

form label.top input,
form label.sbs select,
textarea {
    display: block;
    font-size: 1rem;
    border: 1px solid var(--whitish);
    border-radius: 4px;
    padding: .75rem;
    color: var(--dkblue);
    width: 92%;
    max-width: 20rem;
    background-color: var(--ltblue);
}

form label.top input:required:valid {
    background-color: var(--ltblue);
    color: var(--dkblue);
}

form label.top input:required:invalid {
    color: var(--dkblue);
    box-shadow: 0 0 20px var(--whitish);
    background-color: var(--yellorange);
    color: var(--dkblue);
}

form label.sbs {
    display: block;
    padding-left: 4%;
    padding-top: .75rem;
    color: var(--whitish);
}

form h4 {
    text-align: left;
    padding-left: 4%;
    padding-top: .4rem;
}

form input.submitBtn {
    border: none;
    margin-top: .75rem;
    background-color: var(--yellorange);
    color: var(--dkblue);
    border-radius: 1rem;
    padding: .75rem;
    margin: 0 0 4rem 4%;
    width: 96%;
    max-width: 20rem;
}

form label.severity {
    align-content: center;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

#ratingvalue {
    font-size: 1.2em;
}

input,
textarea,
select {
    padding: .5rem;
}

label {
    display: block;
}

textarea {
    resize: none;
}

.dangerlevel {
    max-width: 20rem;
    padding: .75rem;
    border-radius: 4px;
    margin-left: 4%;
    margin-top: .75rem;
    border: 1px solid var(--whitish);
}