.white {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
table {
  table-layout: auto;
  font-family: Ubuntu, sans-serif;
  border-collapse: collapse;
  width: 300px;
  background-color: #e7f0ed; 
  color: black;
  font-weight: normal;
  box-shadow: 8px 8px 10px #628ca6;
  margin: 2rem;
  align-items: center;
}
td, th {
  border: 1px solid darkgrey;
  text-align: center;
  padding: 8px;
  background-color: #;
}
thead tr th {   
  color: black;   
  align-content: center;
  background-color: #7fb9c2; 
  font-size: 1.7em;
  font-weight: bold;
  padding: 10px;
}
.emphasis, th {
  color: white;
  background-color: #628ca6;
}

tr:nth-child(odd) {
    width: 25%;
    background-color: #e7ffed;
    padding: 5px;
  } 
th {
  font-size: 1.2em;
  padding: 5px;
  font-weight: bold;
}
.italic {
  font-style: italic;
}

tfoot tr td {
  font-size: .8rem;
  background-color: #7fb9c2;  
  color: black;
  padding: 10px;
}