:root {
  --ltblue: #CEE7E6;
  /*  COLUMBIA BLUE  */
  --whitish: #F5FBEF;
  /*  HONEYDEW  */
  --yellorange: #FAA916;
  /*  DARK TANGERINE */
  --dkblue: #22007C;
  /* PERSIAN INDIGO */
  --x11grey: #B7B6C2;
  /*  X11 GREY */
  /*  */
}

body {
  background-color: var(--ltblue);
  color: var(--whitish);
  font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
  padding: .5em .5em .5em .5em;
}

#banner {
  background-color: var(--dkblue);
  color: var(--whitish);
  border-radius: 75px;
  border: 9px double var(--yellorange);
  font-size: 1em;
  text-align: center;
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.logo100 {
  max-width: 3vw;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  text-align: left;
}

.hero {
  background: url('https://rus19023.github.io/lesson5/images/weather-background-hero.jpg') center;
  background-size: cover;
  font-weight: bolder;
  padding: .5em .5em;
  float: right;
  border-radius: 9px;
  margin: 10px auto;
  position: relative;
  height: 40vh;
  width: 100%;
}

.stats {
  position: absolute;
  border-radius: 9px;
  top: 2rem;
  left: 2rem;
  background: radial-gradient(var(--x11grey), var(--dkblue));
  border: 1px solid var(--ltblue);
  padding: .5rem .5rem .5rem .5rem;
  opacity: .85;
}

.stats2 {
  text-align: left;
}

.stats3 {
  text-align: right;
}

a { color: var(--x11grey);}
a:visited { color: var(--whitish);}
a:hover { color: var(--ltblue);}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--whitish);
  text-align: right;
  font-family: "Comfortaa", "Poppins", "Questrial", sans-serif;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: .9em;
}
h6 {
  font-size: .7em;
}

.noshow {
  display: none;
}

header,
footer,
main,
article,
img,
.item {
  background: linear-gradient(to right, var(--yellorange), var(--dkblue));
  font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
  padding: 1em;
  color: var(--whitish);
  font-size: 1em;
  max-width: 100%;
  margin: .5em auto;
  border-radius: 9px;
}
.article1 {
  padding-top: 3em;
}

.item {
  background: var(--x11grey);
  color: var(--dkblue);
  font-size: 1em;
  margin: .5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.forecast {
   display: none;
}

.icon {
  display: none;
}


footer, #updated {
  text-align: center;
}

#updated {
  background-color: transparent;
  color: var(--ltblue);
  font-size: .9em;
  margin: .5em;
  padding: 1em;
}

img {
  margin: .1em;
  padding: .1em;
}

.logosm {
  max-width: 20%;
}

.logomd {
  max-width: 40%;
}

.logolg {
  max-width: 65%;
}

.logo100,
.logolg,
.logomd,
.logosm {
  margin: .5em;
  padding: .5em;
  border-radius: 12px;
}

a.photo-credit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  border-radius: 3px;
}

.photo-credit-svg {
  height: 12px;
  position: relative;
  vertical-align: middle;
  top: -2px;
}

.photo-credit-span {
  display: inline-block;
  padding: 2px 3px;
}

.dkblue {
  color: var(--dkblue);
  font-weight: bold;
}


/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

nav {
  font-family: "Poppins",  "Comfortaa",  "Questrial",  sans-serif;
  background: #faa916;
  /* Old browsers */
  background: -moz-linear-gradient(right, #faa916 0%, #faa916 0%, #22007c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #faa916 0%, #faa916 0%, #22007c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #faa916 0%, #faa916 0%, #22007c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa916', endColorstr='#22007c', GradientType=0);
  border-radius: 9px;
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;  
}

nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--whitish);
  border-radius: 9px;
}

nav ul li a {
  display: block;
  padding: .7em 2%;
  text-decoration: none;
  color: var(--ltblue);
  border-radius: 9px;
}

nav ul .current {
  background-color: rgba(34, 0, 124, .6);
  color: var(--whitish);
}

nav ul li a:hover {
  background-color: var(--whitish);
  color: var(--dkblue);
}

nav ul.hide {
  display: none;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}