:root {
  --ltblue: #CEE7E6;   /*  COLUMBIA BLUE  */
  --whitish: #F5FBEF;    /*  HONEYDEW  */
  --yellorange: #FAA916; /*  DARK TANGERINE */ 
  --dkblue:  #22007C;  /* PERSIAN INDIGO */
  --x11grey : #B7B6C2; /*  X11 GREY */
    /*  */ 
}
body {
  background-color: var(--ltblue);
  color: var(--whitish);
  width: 100%;
  margin: 0 auto;
  font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
  padding: 1em;
}

.wrapper {
  text-align: left;
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: .5em;
  margin: 0 auto;
  background: var(--ltblue);
}


a {color :var(--x11grey);}
a:visited {color: var(--whitish);}
a:hover {color: var(--ltblue);}

h1, h2, h3, h4, h5, h6 {
  color: var(--whitish);
  text-align: right;
  padding: 1em;
  font-family: "Comfortaa", "Poppins", "Questrial", sans-serif;
}

h1{ 
  font-size: 2.2em;
}

h2{ 
  font-size: 1.9em;
}

h3{ 
  font-size: 1.7em;
}

h4{ 
  font-size: 1.5em;
}

h5{ 
  font-size: 1.3em;
}

h6{ 
  font-size: 1em;
}

header, footer, main article, img, #updated, nav, .item-foot {
  background: linear-gradient(to right, var(--yellorange), var(--dkblue));
  border-radius: 9px;
  font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
  margin: .5em .5em .5em .5em;
  padding: 1em 1em 1em 1em;
  color: var(--whitish);
  font-size: 1.2em;
}

footer {
  text-align: center;
}


img {
  margin: .1em;
  padding: .1em;  
  background: var(--x11grey);
}

.logo {
  max-width: 20%;
  height: auto;
}

.logo2 {
  max-width: 65%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.grid {  
  grid-template-columns: 1fr;
  display: grid;
  justify-content: center;
}

.item-foot {
  background: var(--x11grey);
  color: var(--dkblue);
  font-size: 1em;
}

a.photo-credit {
  background-color:black;
  color:white;
  text-decoration:none;
  padding:4px 6px;
  font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  border-radius:3px;
}

.photo-credit-svg {
  height:12px;
  width:auto;
  position:relative;
  vertical-align:middle;
  top:-2px;
  fill:white;
}

.dkblue {
  color: var(--dkblue);
  font-weight: bold;
}

.photo-credit-span {
  display:inline-block;
  padding:2px 3px;
}

#updated {
  color: var(--ltblue);
  font-size: .9em;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#checkbox1
.toggle {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: .5em;
}

.menu li a {
  text-decoration: none;
  align-self: center;
  border-radius: 9px;
  font-size: 1em;
  padding: 10px 15px;
  transition: background .2s linear;
}

@media screen and (max-width: 600px) {
  .menu li a {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 550px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 1.8em;
    line-height: 50px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 1em;
    color: var(--whitish);
    background: linear-gradient(to right, var(--yellorange), var(--dkblue));
    border-radius: 9px;
    transition: all .1s linear;
  }
  .toggle:hover {
    background: var(--dkblue);
  }
  #checkbox1:checked li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
  }
  #checkbox1:checked {
    height:  35vh;
  }
  .menu {
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .3s linear;
  }
  .menu li {
    display: flex;
    /* magic */
    align-self: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 100%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
}

.first {
  background: linear-gradient(to right, var(--yellorange), var(--dkblue));
}

.first li a {
  color: var(--whitish);
}

.first li a:hover {
  background: var(--dkblue);
}

body {
  background: #var(var(--ltblue));
}




/*

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a.top-nav {color:var(--x11grey);}
a:visited {color: var(--whitish);}
a:hover {color: var(--ltblue);}

.top-nav {
  display: flex;
  background: linear-gradient(to right, var(--yellorange), var(--dkblue));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*
  color: var(--whitish);
  max-height: 10%;
  padding: 1em;
  border-radius: 9px;
  margin: .5em;
  max-width: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: .5em;
  padding: .5em;
}

.menu > li {
  margin: 1em;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--whitish);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 95%;
    color: var(--dkblue);
    background-color: var(--whitish);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--whitish);
  }
}
*/
