html {
    font-size: 1.3vw;
}#logo, #background {
    width: 100%;
}
.salmon {
    padding-right: 1rem;
    padding-top: 1rem;
}
.bigger {
    font-size: 2vw;
}
.col1 {
    grid-template-columns: 1fr 1fr;
}
#gmap {
    width: 40vw;
}
.stats {
    top: .5rem;
    left: 3rem;
    font-size: 1.6vw;
    line-height: 1.5rem;
    padding: 1.6rem;
}
.pad-top {
    padding-top: 5rem;
}
.contact {
    padding-right: 9rem;
}