$salmon: #faa275 ;          /*  rgba(250, 162, 117, 1) */
$blackleather: #273C2C;     /*  rgba(39,  60,  44,  1) */
$rocket: #887880;           /*  rgba(136, 120, 128, 1) */
$coconut: #955e42;          /*  rgba(149, 94,  66,  1) */
$tan: #D0CD94;              /*  rgba(208, 205, 148, 1) */
$textFontFamily: "Sriracha", sans-serif;
$headingFontFamily: "Calligraffitti", sans-serif;
$zindexHero: 70;
$zindexOverlay: 80;
$zindexMenu: 90;
