html {
    font-size: 1.3vw;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto ;
    grid-gap: .5rem;
}
h2 {
    font-size: 2rem;
}
#logo, #background {
    width: 100%;
}
.hide {
    display: none;
}
.unhide {
    display: none;
}
#primaryNav {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
form {
    width: 50%;
}