html {
    font-size: 1.5vw;
}
.stats {
    padding-left: 1.5rem;
}
.hide {
    display: none;
}
.unhide {
    display: none;
}
.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto ;
}
#hans, #gina, #marc {
    border: 1px solid $blackleather;
    img {
        height: 260px;
    }
    p {
        font-size: 2vw;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    h1 {
        font-size: 3vw;
    }

}
h2 {
    font-size: 2rem;
}
#primaryNav {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer {
    font-size: 1.7vw;
}
form {
    padding-left: 25%;
    width: 50%;
    fieldset {
        padding-left: 10%;
    }
}