html {
    font-size: 1.8vw;
}
.hide {
    display: none;
}
.unhide {
    display: none;
}
.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto ;
}
.container1 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto ;
}
.container-head {
    display: grid;
    grid-template-columns: 30% 60%;
}
.contact {
    padding-top: 5rem;
    padding-right: 5rem;
}
.container-reserve {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto ;
}
p {
    font-size: 2vw;
}
.salmon {
    padding-right: 2rem;
}
.stats {
    top: .5rem;
    left: 2rem;
    font-size: 1.8vw;
}
#hans, #gina, #marc {
    border: 1px solid $blackleather;
    img {
        height: 260px;
    }
}
h2 {
    font-size: 2rem;
}
#primaryNav {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer {
    font-size: 1.7vw;
}
form {
    padding-left: 25%;
    width: 50%;
    fieldset {
        padding-left: 10%;
    }
}