h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headingFontFamily;
    font-weight: bold;
    color: $rocket;
}
body {
    font-family: $textFontFamily;
    color: $blackleather;
    background: $salmon;
}
.tan {
    color: $tan;
}
#hero {
    width: 100%;
    margin-top: 0;
}
#logo {
    position: absolute;    
    top: 9rem;
      z-index: 1;   
}
.ellipse {
    -webkit-clip-path: circle(50% at 50%);
    clip-path: ellipse(50% 28% at 50% 40%);
}
.overlay-weather {
    -webkit-clip-path: circle(50% at 50%);
    clip-path: ellipse(50% 28% at 50% 40%);
}
.zero {
    margin-top: 0;
}
.stats {
    position: absolute;
    top: 9rem;
    right: 0;
    background: radial-gradient(rgba(208, 205, 148, .5), rgba(39, 60, 44, 1));
    border: 1px solid #CEE7E6;
    padding: .5rem;
    opacity: .89;
    font-size: .7em;
    font-weight: bolder;
    line-height: .7rem;
    color: $salmon;
}
.overlay-title {
    background:rgba(250, 162, 117, .8);
    color: $blackleather;
    padding: 2rem;
    width: 45%;
    text-align: center;
    -webkit-clip-path: circle(50% at 50%);
    clip-path: ellipse(40% 48% at 50% 48%);
    position: absolute;
    top: 5rem;
    left: 25vw;
    z-index: 1;

}
p {
    font-size: 1.5rem;
}
.hide {
    display: none;
}
.normal {
    text-align: center;
    font-size: 1.2rem;
}
.center-text {
    text-align: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.reverse {
    flex-direction: row-reverse;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    z-index: 1;
  }
  
  /* Page content */
  .content {
    padding: .7rem;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 3.75rem;
  }



nav {
    font-size: 1.5em;
    background: $blackleather;
    .button {
        display: inline;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li a {
            display: block;
            text-decoration: none;
            text-align: center;
            color: $tan;
        }
        li a:hover {
            background: $tan;
            color: $blackleather;
        }
        .current {
            background-color: $blackleather;
            color: $salmon;
        }
        .current:hover {
            color: $salmon;
            background: $blackleather;
        }
    }
    button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: $salmon;
    }
}
