h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headingFontFamily;
    font-weight: bold;
    color: $rocket;
}
body {
    font-family: $bodyFontFamily;
    color: $blackleather;
    background: $salmon;
}
.tan {
    color: $tan;
}
.ellipse {
    width: 100%;
    -webkit-clip-path: circle(50% at 50%);
    clip-path: ellipse(50% 48% at 50% 50%);
}

p {
    font-family: $bodyFontFamily;
}
.hide {
    display: none;
}
.normal {
    text-align: center;
    font-size: 1rem;
}
.center-text {
    text-align: center;
}
.header {
    display: flex;
    flex-direction: row;
}
.reverse {
    flex-direction: row-reverse;
}
#logo {
    position: absolute;    
    top: 9rem;
      z-index: 1;   
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: .7rem;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 3.75rem;
  }



nav {
    font-size: 1.5em;
    background: $blackleather;
    .button {
        display: inline;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li a {
            display: block;
            text-decoration: none;
            text-align: center;
            color: $tan;
        }
        li a:hover {
            background: $tan;
            color: $blackleather;
        }
        .current {
            background-color: $blackleather;
            color: $salmon;
        }
        .current:hover {
            color: $salmon;
            background: $blackleather;
        }
    }
    button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: $salmon;
    }
}
