$bgColor: #d6aa42 ;
$fontColor: #273C2C;
$linkColor: #afe1fa;
$linkHoverColor: #273C2C;
$linkVisitedColor: #2c6c7c;
$textFontFamily: "Sriracha", sans-serif;
$headingFontFamily: "Calligraffitti", "Arizonia", sans-serif;
