$salmon: #d6aa42 ;
$blackleather: #273C2C;
$rocket: #2c6c7c;
$coconut: #955e42;
$tan: #D0CD94;
$textFontFamily: "Sriracha", sans-serif;
$headingFontFamily: "Calligraffitti", "arial", sans-serif;
$bodyFontFamily: "Sriracha", "arial", sans-serif;
