h1, h2, h3, h4, h5, h6 {
    font-family: $headingFontFamily;
    font-weight: bold;
    color: $rocket;
}
a:hover {color: $coconut;}
a {color: $rocket;}
a:visited {color: $blackleather;}
body {
    font-family: $textFontFamily;
    color: $blackleather;
    background: $salmon;
}
#hero {
    width: 100%;
    top: 0;
    margin: 0;
    z-index: $zindexHero;
    clip-path: ellipse(50% 26% at 50% 38%);
    box-shadow: 0 0 20px $blackleather;
}
#logo {
    width: 45%;
    position: absolute;    
    top: 20vh;   
}
.overlay-weather {
    clip-path: ellipse(47% 33% at 48% 48%);
    z-index: $zindexOverlay;
}
.zero {
    margin-top: 0;
}
.stats {
    position: absolute;
    top: 20rem;
    width: 45%;
    right: 0;
    clip-path: ellipse(47% 33% at 48% 48%);
    background: radial-gradient(rgba(136, 120, 128, .8), rgba(39, 60, 44, .9));
    border: 1px solid $tan;
    padding: .5rem;
    font-size: .5em;
    font-weight: bolder;
    line-height: .6rem;
    color: $salmon;
}
.overlay-title {
    background:rgba(250, 162, 117, .8);
    color: $blackleather;
    font-size: .9rem;
    padding: 2rem;
    width: 40%;
    text-align: center;
    clip-path: ellipse(50% 38% at 50% 44%);
    position: absolute;
    top: 30vh;
    font-weight: bold;
    left: 25vw;
    z-index: $zindexOverlay;
}
p {
    font-size: 1.5rem;
}
.hide {
    display: none;
}
.normal {
    text-align: center;
    font-size: 1.2rem;
}
.center-text {
    text-align: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.reverse {
    flex-direction: row-reverse;
}

#navbar {
    overflow: hidden;
    a {
      float: left;
      display: block;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      z-index: $zindexMenu;
    }
  }
.content {
padding: .7rem;
}
.sticky {
position: fixed;
top: 0;
width: 100%;
}
.sticky + .content {
    padding-top: 3.75rem;
}
#primaryNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav {
    font-size: 1.5em;
    background: $blackleather;
    .button {
        display: inline;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li a {
            display: block;
            text-decoration: none;
            text-align: center;
            color: $tan;
        }
        li a:hover {
            background: $tan;
            color: $blackleather;
        }
        li a:visited {
            color: $tan;
        }
        li a:visited:hover {
            color: $blackleather;
        }
        .current {
            background-color: $coconut;
        }
        .current:hover {
            color: $tan;
            background: $coconut;
        }
    }
    button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: $tan;
    }
}
form { 
    background-color: transparent;
    fieldset {
        border: 2px solid $blackleather;
        margin: 2rem .25rem;
        margin: 4%;
        padding: 1% 4%;
    }
    legend {
        color: $blackleather;
        margin: 0 1rem;
        padding: 0 .5rem;
    }
    label.top, div {
        display: block;
        padding-top: 1rem;
        padding-left: 4%;
        color: $blackleather;
        font-size: 1rem;
        max-width: 92%;
        text-align: left;
    }
    label input {
        color: $tan;
        border:none;
    }
    label.top input, 
    label.sbs select,
    textarea {
        display: block;
        font-size: 1rem;
        border: 1px solid $blackleather;
        padding: .75rem;
        color: $blackleather;
        width: 92%;
        max-width: 20rem;
        background-color: $tan;
    }
    label.top input:required:invalid {
        box-shadow: 0 0 20px $rocket;
        background-color: $rocket;
        color: $tan;
    }
    label.top input:required:valid {
        background-color: $coconut;
        color: $salmon;
    }
    label.sbs {
        display: block;
        padding-left: 4%;
        padding-top: .75rem;
        color: $rocket;
    }
    #gmap {
        margin: .25rem;
        max-width: 100%;
        height: 40vh;
        padding: .25rem
    }
    h4 {
        text-align: left;
        padding-left: 4%;
        padding-top: .4rem;
    }
    input.submitBtn {
        border: none;
        margin-top: .75rem;
        background-color: $coconut;
        color: $tan;
        font-size: 1.5rem;
        border-radius: 1rem;
        padding: .75rem ;
        margin: 0 4%;
        width: 96%;
        max-width: 20rem;
    }
    label.severity {
        align-content: center;
        display: flex;
        flex-direction: column;
        max-width: 20rem;
    }
    input,
    textarea,
    select {
        padding: .5rem;
    }
    label {
        display: block;
    }
    textarea {
        resize: none;
    }
}
.grid2col {
    display: grid;
    grid-template-columns: 4fr 4fr;
    margin:0;
}
.grid1col {
    text-align: center;
    padding: 1rem;
    max-width: 100%;
}
.grid-auto-row {
    display: grid;
    grid-template-rows: auto;
}
span.right-align {
    text-align: right;
}
span.left-align {
    text-align: left;
}