@media only screen and (min-width: 37.5em) {
	main {
		max-width: 75%;
	}
	.gallery {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  background-color: transparent;
	  justify-content: center;
	  align-items: center;
	  border-radius: 9px;
	  font-weight: bolder;
	  max-width: 95%;
	}
	figcaption {
	  font-size: 1em;
	  color: var(--whitish);
	  text-align: center;
	} 

	main picture {
		display: block;
	}

	main picture img {
		width: 100%;
		border: 1px solid #bbb;
		border-radius: 9px;
	}
}