:root {
  --ltblue: #CEE7E6;   /*  COLUMBIA BLUE  */
  --whitish: #F5FBEF;    /*  HONEYDEW  */
  --yellorange: #FAA916; /*  DARK TANGERINE */ 
  --dkblue:  #22007C;  /* PERSIAN INDIGO */
  --x11grey : #B7B6C2; /*  X11 GREY */
    /*  */ 
}

body {
  background-color: var(--ltblue);
  color: var(--whitish);
  font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
  padding: 1em 1em 1em 1em;
}

.header {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.hero { 
  border-radius: 9px;

  /* Grid styles */
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

a {color :var(--x11grey);}
a:visited {color: var(--whitish);}
a:hover {color: var(--ltblue);}

h1, h2, h3, h4, h5, h6 {
  color: var(--whitish);
  text-align: right;
  font-family: "Comfortaa", "Poppins", "Questrial", sans-serif;
}
h1{ 
  font-size: 2em;
}
h2{ 
  font-size: 1.5em;
}
h3{ 
  font-size: 1.3em;
}
h4{ 
  font-size: 1.1em;
}
h5{ 
  font-size: .9em;
}
h6{ 
  font-size: .7em;
}
.noshow {
  display: none;
}

header, footer, main, article, img, .item-foot {
  background: linear-gradient(to right, var(--yellorange), var(--dkblue));
  font-family: "Poppins", "Comfortaa", "Questrial", sans-serif;
  padding: 1em;
  color: var(--whitish);
  font-size: 1em;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin: .5em auto;
  border-radius: 9px;
}

footer, #updated {
  text-align: center;
}

#updated {
  background-color: transparent;
  color: var(--ltblue);
  font-size: .9em;
  margin: .5em;
  padding: 1em;
}

.item-foot {
  background: var(--x11grey);
  color: var(--dkblue);
  font-size: 1em;
  margin: .5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


img {
  margin: .1em;
  padding: .1em;  
  background: var(--x11grey);
}

.logosm {
  max-width: 20%;
}

.logomd {
  max-width: 40%;
}

.logolg {
  max-width: 65%;
}

.logo100 {
  max-width: 100%;
}

.logo100, .logolg, .logomd, .logosm {
  margin: .1em;
  padding: .1em;
  border-radius: 12px;
}

a.photo-credit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  border-radius: 3px;
}

.photo-credit-svg {
  height: 12px;
  position: relative;
  vertical-align: middle;
  top: -2px;
}

.photo-credit-span {
  display:inline-block;
  padding:2px 3px;
}

.dkblue {
  color: var(--dkblue);
  font-weight: bold;
}

  
  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
  html {-webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

nav {
    font-family: Verdana, sans-serif;
    background: #faa916; /* Old browsers */
    background: -moz-linear-gradient(top, #faa916 0%, #faa916 0%, #22007c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #faa916 0%,#faa916 0%,#22007c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #faa916 0%,#faa916 0%,#22007c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa916', endColorstr='#22007c',GradientType=0 );
    border-radius: 9px;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: var(--whitish);
}

nav ul li a {
    display: block;
    padding: .7em 2%;
    text-decoration: none;
    color: var(--ltblue);
    border-top: 1px solid rgba(0,0,0,.3);
}

nav ul li a:active {
    background-color: rgba(0,0,0,.2);
    color: var(--whitish);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.4);
}

nav ul.hide {
    display: none;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
