@media only screen and (min-width: 37.5em) {
	main {
		max-width: 96%;
	}
	.stats {
		font-size: .85em;
	}
	.gallery {
	  display: grid;
	  grid-template-columns: 1fr 1fr;  
	  justify-content: center;
	  align-items: center;
	  border-radius: 9px;
	  font-weight: bolder;
	  max-width: 95%;
	}
	figcaption {
	  font-size: 1em;
	  color: #F5FBEF;
	  text-align: center;
	} 
	.right-column figure img {
		border-radius: 9px;
	}
	article.grid1col.grey div.right-column {
		align-items: center;
		text-align: center;
	}

	main picture img {
		border-radius: 9px;
		width: 400px;
	}
	.towns section {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		padding: 1rem;
	}
	#sodasprings section {
		flex-direction: row-reverse;
		align-items: center;
	}
	.towns section div {
		max-width: 50%;
		padding: 1rem;
	}
	.towns p {
		text-align: center;
	}
	.noshow1 {
		display: block;
	}
	footer {
		width: 100%;
	}

}